Error Page

	<table style="width:100%">
		<tr><th><button id = "id_show_nav_button">ARROW</button></th></tr>
		<tr><th><a href="{% url 'action_glob_stream' %}" id="id_nav_global_stream">Global Stream</a></th></tr>
		<tr><th><a href="{% url 'action_follower_stream' %}" id="id_nav_follower_stream">Follower Stream</a></th></tr>
		<tr><th><a href="{% url 'action_personal_prof' %}" id="id_nav_profile">My Profile</a></th></tr>
		<tr><th><a href="{% url 'action_logout' %}"id="id_nav_logout"><button>Logout</button></a></th></tr>
	</table>